*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.text{
    margin-left: 25px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.text h1{
    color: brown;
    text-decoration: underline;
    padding-bottom: 10px;
    box-sizing: border-box;
    
    
}

